*.pyc
*.egg-info/
__pycache__/

#data
tests/test_logs/
tests/winooski_example/output/
tests/winooski_restrictions/output/
test.py
WinAveTests
WinCityTests
Output/base/baseoutput
Inputs/
Inputs/Parking Demand and Adjustments.xlsx
Inputs/restrict_list.csv
Inputs/sample_gis.qgz
outputs_visuals/
Archive/

# Mac
.DS_Store
.Rproj.user
